/* src/styles/App.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2e2e2e;
  position: relative;
  z-index: 0; /* щоб контент був поверх відео */
}

.main-content {
  flex: 1;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* Footer */
footer {
  background-color: #2e2e2e;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  position: relative;
  z-index: 1;
}

/* Приховує горизонтальний скролбар */
body {
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Відео на фоні */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* під контентом */
  opacity: 0.7; /* прозорість, можна регулювати */
  pointer-events: none; /* щоб кліки проходили крізь відео */
}
