.brigade-carousel-container {
  max-width: 100%;
  height: 100vh; /* Збільшено висоту на весь екран */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brigade-carousel-title {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  width: 80%; /* Карусель займає 80% ширини екрану */
  height: 70%; /* Карусель займає 70% висоти екрану */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button {
  background-color: #ccc;

  border: none;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.carousel-button:hover{
  transform: scale(1.5);
}

.carousel-track {
  display: flex;
  justify-content: center;
  gap: 16px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.brigade-card {
  width: 350px; /* Збільшена ширина картки */
  height: 80%;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  opacity: 0.8;
}

.brigade-card:hover {
  transform: scale(1.5);
}

.brigade-card img.brigade-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.brigade-text {
  text-align: center;
  padding: 10px;
}

.active-brigade {
  
  opacity: 1;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.back-to-ok-container {
  margin-top: 20px;
}

.back-to-ok-button {
  background-color: #facc15; /* Жовтий фон */
  color: black;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: background-color 0.3s;
}

.back-to-ok-button:hover {
  background-color: #e4a100; /* Трохи темніший жовтий при наведенні */
}
