.brigade-carousel-container {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb; /* Легкий фон для контрасту */
}

.brigade-carousel-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #1f2937; /* Темний текст */
}

.carousel-wrapper {
  position: relative;
  width: 80%;
  height: 80%; /* Більша висота каруселі */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 20px;
  z-index: 1;
  transition: background-color 0.3s, transform 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Темніший фон при наведенні */
  transform: scale(1.1); /* Збільшення кнопки при наведенні */
}

.carousel-track {
  display: flex;
  justify-content: center;
  gap: 24px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.brigade-card {
  width: 350px;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s ease-in-out;
  cursor: pointer;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.brigade-card:hover {
  transform: scale(1.1); /* Збільшення картки при наведенні */
  opacity: 1;
}

.brigade-card img.brigade-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.brigade-text {
  text-align: center;
  padding: 15px;
  color: #1f2937;
}

.brigade-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.brigade-text p {
  font-size: 14px;
  color: #6b7280;
}

.active-brigade {
  transform: scale(1.2); /* Збільшення активної картки */
  opacity: 1;
  z-index: 2;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.back-to-ok-container {
  margin-top: 30px;
}

.back-to-ok-button {
  background-color: #facc15;
  border: none;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  color: #1f2937;
}

.back-to-ok-button:hover {
  background-color: #e4a100;
  transform: scale(1.05); /* Збільшення кнопки при наведенні */
}

@media (max-width: 768px) {
  .carousel-wrapper {
    width: 90%;
    height: 60%;
  }

  .brigade-card {
    width: 100%;
  }
}
