.brigade-carousel-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.brigade-carousel-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button {
  background-color: #ccc;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.carousel-track {
  display: flex;
  gap: 16px;
  overflow: hidden;
}

.brigade-card {
  width: 300px; /* Встановлюємо ширину для кожної бригади */
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  opacity: 0.6;
}

.brigade-card:hover {
  transform: scale(1.05);
}

.brigade-card img.brigade-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.brigade-text {
  text-align: center;
  padding: 10px;
}

.active-brigade {
  transform: scale(1.25); /* Збільшуємо поточну бригаду */
  opacity: 1;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
